*_cfg.vhd
*_EXTR.vhd
*_SYNTH.vhd
*.aux
*.bak
*.bbl
*.blg
*.bsf
*.cmd
*.cmp
*.db
*.ddc
*.def
*.done
*.dpf
*.ini
*.log
*.lst
*.mess
*.mr
*.plt
*.qpf
*.qsf
*.res
*.rpt
*.sin
*.sls
*.summary
*.svf
*.synctex
*.synctex.gz
*.tcl
*.toc
*.out
*.vhd~
*.vhd_
*.wlf
Report.txt
transcript